.Navbar {
  height: 55px;
  /* background-color: black; */
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 0px 60px;
}
.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logoName {
  color: #ff4500;
  font-size: 24px;
}
.nav-2 {
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 700px;
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
}
.nav-searchbar {
  width: 85%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgb(219, 219, 219);
}
.nav-LogBtn{
    border-radius:20px;
     background-color :#ed6c02;
     height: 40px;
     width: 70px;
     border: none;
     font-size: 16px;
     font-weight: 500;
        color:#fff;
}
.nav-3{
    display: flex;
    align-items: center;
    gap: 15px;
}
